/**
* Settings
*/


//--------------------------------------
// Gray Palette
//
$gray-100: #ffffff;
$gray-95: #f2f2f2;
$gray-90: #e5e5e5;
$gray-85: #d8d8d8;
$gray-80: #cccccc;
$gray-75: #bfbfbf;
$gray-70: #b2b2b2;
$gray-65: #a5a5a5;
$gray-60: #999999;
$gray-55: #8c8c8c;
$gray-50: #7f7f7f;
$gray-45: #727272;
$gray-40: #666666;
$gray-35: #595959;
$gray-30: #4c4c4c;
$gray-25: #3f3f3f;
$gray-20: #333333;
$gray-15: #262626;
$gray-10: #191919;
$gray-05: #0c0c0c;
$gray-00: #000000;

//--------------------------------------
// Brand Palette
//


//--------------------------------------
// Color Settings
//
$white: $gray-95;
$black: $gray-05;

//--------------------------------------
// Spacing Settings
//
$spacing-xsmall: 0.25em;
$spacing-small: 0.5em;
$spacing-medium: 1em;
$spacing-large: 2em;
$spacing-xlarge: 4em;
